name: Sync Fork

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: {}

jobs:
  sync:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Fork
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "github-actions@github.com"

      - name: Sync from Upstream
        run: |
          git remote add upstream https://github.com/Jackzmc/l4d2-stats-plugin.git
          git fetch upstream

          git checkout master
          git rebase upstream/master

          git push origin master --force
